* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: #6fd247; */
  /* background: #29ec89; */
  /* background: #00B63E; */
  background: #f95405;
  /* background: #f97605; */
  /* color:  white; */
  

  color:  #f6f6f6;
  font: 14px Helvetica, Arial;
  height: 100vh;
}
img {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

h1, h2, h3 {
  text-align: center;
}
#letra {
  font-size: 16em;
}
h3#frase {
  font-size: 4em;
}
.project-title {
  font-size: 5em;
  margin: 30px 0 30px 0;
  text-transform: uppercase;
}
.container {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  font-size: 1.5em;
}
form {
  border: 6px solid white;
  border-radius: 5px;
  box-shadow: grey 3px 3px 5px;
  font-size: 1.5em;
  margin: auto;
  padding: 15px 25px;
  width: 500px;
}
form * {
  display: block;
  margin: 10px 0;
}
form input {
  border-radius: 5px;
  color: #8d8d8d;
  font-size: 1.1em;
  padding: 3px;
  width: 100%;
}
button {
  background: whitesmoke;
  color: #5f5f5f;
  display: block;
  font-family: Helvetica, Arial;
  font-size: .8em;
  font-weight: bold;
  margin: auto;
  padding: 10px;
  width: 60%;
  margin-bottom: 15px;
}

@media only screen and (max-width:800px) {
  .container, form {
    width: 100%;
    padding: 10px 25px;
  
  }
  body {
    padding: 0px 15px;
  }
  h1, h2, h3 {
    font-size: 3.5em !important;
  }

}